@use "../variables";
@use "../functions";

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: functions.rem(16);
  margin-top: functions.rem(16);

  img {
    width: 100%;
    border-radius: functions.rem(12);
  }

  @media (min-width: variables.$mqMinWidth) {
    grid-template-columns: repeat(3, 1fr);
  }
}